.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__apE2W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___3AtH7 {
  display: flex;
  flex-direction: column;
}
.freeBox___3AtH7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3AtH7 > :global(.__wab_flex-container) > *,
.freeBox___3AtH7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3AtH7 > :global(.__wab_flex-container) > picture > img,
.freeBox___3AtH7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.text__m2TdS {
  font-size: 48px;
}
.freeBox__nu9Mx {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__nu9Mx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nu9Mx > :global(.__wab_flex-container) > *,
.freeBox__nu9Mx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nu9Mx > :global(.__wab_flex-container) > picture > img,
.freeBox__nu9Mx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet__vqkFm:global(.__wab_instance) {
  position: relative;
}
.bullet__v3GYd:global(.__wab_instance) {
  position: relative;
}
.bullet___11WCp:global(.__wab_instance) {
  position: relative;
}
.freeBox__e4XHl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button___5Sxji:global(.__wab_instance) {
  position: relative;
}
.svg__xn0J6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vhf4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tpAMc {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
